html,body, #main-container{
    height: 100%;
    margin: 0;
}

#bg{
    background-image: url("images/listening.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.xxx{
    background-image: url("images/listening.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

#menu{
    margin: 0px 120px;
}

#menu ul{
    display: flex;
    list-style-type: none;
}
#menu li{
    margin-left: 40px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
#logo{
    margin: 0px 30px;
    font-size: x-large;
    font-style:oblique;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(141, 98, 45);
}

a{
    text-decoration: none;
}

nav a:link{
    color: green;
}
nav a:visited{
    color: green;
}
nav a:hover{
    color: rgb(184, 143, 55);
}

.section{
    height: 70%;
    background-color: rgba(0, 0, 0, 0.5);
}
#music, #home{
    margin-top: 100px;
}
#albums{
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 2%;
    top: 110%;
    border-radius: 10%;
    background: url(images/slowrush.jpg);
    background: url(images/ram.jpg);
    opacity: 0.8;
}
#home{
    display: flex;
    color: rgb(247, 244, 241);
    text-shadow: 3px 3px 3px black;
    font-size: x-large;
    text-align: center;
}
#home img{
    width: 20%;
    margin: 0;
}
#discription{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
}
#player{
    height: 100%;
    width: 30%;
    height: 55%;
    position: absolute;
    left: 35%;
    top: 109%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-image: linear-gradient(
    0deg,
    rgba(214, 61, 61, 0.5) 23.8%,
    rgba(252, 221, 221, 0.5) 92%
  );
}
#audio{
    margin: 0 auto;
}
#buttons a{
    display: inline-block;
    color: black;
    background-color: white;
    padding: 40%;
    border-radius: 20%;
    box-shadow: 2px 2px 2px black;
}
#buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
}
#music-player{
    height: 100%;
    width: 22%;
    height: 55%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 2%;
    top: 109%;
    border-radius: 10%;
}
#album-header{
    height: 10%;
    line-height: 200%;
    width: 100%;
    position: absolute;
    top: 3%;
    text-align: center;
    font-size: 1.2;
    color: black;
    font-weight: bold;
    border-bottom: solid 1px black;
}

.track{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    padding-bottom: 0;
    border-bottom: solid 1px black;
}

#playlist p{
    display: inline-block;
    padding-bottom: 0;
}

#playlist{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 85%;
    border-radius: 0 0 11% 11%;
    overflow: scroll;
    overflow-x: hidden;
}

#playlist a:visited{
    color: black;
}
#playlist a:hover{
    color: white;
}
#playlist a:active{
    color: red;
}



#lefticon{
    width: 50px;
    height: 50px;
    background-image: url(images/left.png);
    position: absolute;
    left: 10px;
    top: 125px;
    opacity: 0.5;
}
#righticon{
    width: 50px;
    height: 50px;
    background-image: url(images/right.png);
    position: absolute;
    right: 10px;
    top: 125px;
    opacity: 0.5;
}

#music a:hover{
    opacity: 1;
}

#audiosrc{
    width: 60%;
}

#enjoy{
    position: absolute;
    left: 48%;
    top: 90%;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px  2px rgb(70, 70, 85);
    background-color: rgba((0), 0, 0, 0.5);
}

#contact #form{
    width: 60%;
    margin: 0 auto;
    line-height: 300%;
}
#form input[type="text"], #form input[type="email"]{
    height: 1.5em;
    border-radius: 10px;
    box-shadow: -2px -2px 2px black;
}
#form input[type="text"]{
    width: 10em;
}
#form input[type="email"]{
    width: 15em;
}
#form #textarea{
    width: 50%;
    height: 100px;
}
#form{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px white;
}
#thanks{
    color: brown;
    text-shadow: 2px 2px 2px black;
    display: none;
}

